<mat-sidenav-container class="royal-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
   
    <!-- <p><button mat-button (click)="close('toggle button')">####</button></p> -->
    <app-menu></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar color="primary" class="toolbar">
        <div class="royal__logo">
          <button mat-button (click)="sidenav.open()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
            </button>
           <span class="royal__logo-text"> {{'toolbar.name' | translate}}</span>
           <!-- <span class="example-spacer"></span> -->
           <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
             <mat-icon>favorite</mat-icon>
           </button>
           <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>share</mat-icon>
           </button> -->
        </div>
        <div class="royal__login-btn">
          <!-- <mat-form-field appearance="fill">
            <mat-label>Select an option</mat-label>
            <mat-select (change)="selectedLang($event)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</mat-option>
            </mat-select>
          </mat-form-field> -->
          <select #selectLang (change)="translate.use(selectLang.value)">
            <option value="">Select Langauage</option>
            <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
          </select>
          <button *ngIf="!loggedIn" mat-icon-button routerLink="/login/signin" class="example-icon" aria-label="Example icon-button with share icon">
            Login
           </button>
           <button *ngIf="loggedIn" mat-icon-button (click)="logOut()" class="example-icon" aria-label="Example icon-button with share icon">
             Logout
            </button>
        </div>
       
      </mat-toolbar>
    </p>
    
    <!-- <p><button mat-button (click)="sidenav.open()">Open</button></p> -->
    <!-- <button (click)="addComponent()">addComponent</button>
    <ng-container #container></ng-container>    -->
    <div class="route__container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" fxGrow="2" fxFlexFill>
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
